<%= turbo_frame_tag 'categories' do %>
    <h2><%= t('.title') %></h2>    
    <%= link_to t('.all'), products_path %>
    <%= render partial: 'category', collection: @categories %><br>
    <div>Total
        <%= @products.count %> <%= t('.title_1') %>
    </div>
    <div>Fecha<%= Date.today %></div>
    <%= render partial: 'product', collection: @products %>

<% end %>


