
<h1 class='title'><%= @product.title %></h1>
<%= image_tag @product.photo, width:200, height:200 if @product.photo.attached?%>

<p class='description'><%= @product.description %></p>

<span class='price'><%= @product.price %>€</span><br>

<%= button_to link_to 'Editar Producto', edit_product_path(@product),style: "color: green;" %><br>

<%= button_to link_to 'Eliminar Producto', product_path(@product),data:{ 
    turbo_method: :delete,
    turbo_confirm: t('common.confirm'),

 },style: "color: red;" %>